<!DOCTYPE html>
<html>
  <head>
    <% include ./templates/head.ejs %>
  </head>
  <body>
    <div class="main-form">
      <h2>Success</h2>
      <p>You've successfully logged in with your Google account</p>
      <button class="btn btn-danger" onclick="window.location.href='/account'">
        <div class="container">
          <div class="row">
            <div class="col-md">
              <i class="fa fa-telegram" aria-hidden="true"></i> Start finding gamers
            </div>
          </div>
        </div>
      </button>
    </div>
  </body>
</html>
