<head>
  <title>SWLFG | <%= title %></title>
  <link rel='stylesheet' href='https://bootswatch.com/4/lux/bootstrap.min.css' />
  <link rel='stylesheet' href='https://bootswatch.com/4/lux/_variables.scss' />
  <link rel="stylesheet" href="/stylesheets/sweetalert2.min.css" />
  <link rel='stylesheet' href='/stylesheets/_bootswatch.scss' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
</head>
