<!DOCTYPE html>
<html>
  <head>
    <% include ../templates/head.ejs %>
  </head>
  <body>
    <% include ../templates/nav.ejs %>
    <% include ../templates/footer.ejs %>

    <div class="container">
      <div class="main-content-features-1">
        <div class="main-content-features-1-header">
          <h1>Account Settings</h1>
        </div>

        <div class="row">
          <div class="col-md grey-box">
            <h3>Gamertags</h3>
            <p>Enter all your gamertags so people can request to add you!</p>
            <form action="/account/update_gamertags" method="post">
              <div class="form-group">
                <label for="xbox">Xbox</label>
                <input type="text" value="<%= user_info.gamertags.xbox %>" class="form-control" id="xbox" name="xbox" placeholder="Enter gamertag...">
              </div>

              <div class="form-group">
                <label for="psn">PSN</label>
                <input type="text" value="<%= user_info.gamertags.psn %>" class="form-control" id="psn" name="psn" placeholder="Enter gamertag...">
              </div>

              <div class="form-group">
                <label for="origin">Origin</label>
                <input type="text" value="<%= user_info.gamertags.origin %>" class="form-control" id="origin" name="origin" placeholder="Enter gamertag...">
              </div>

              <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
          </div>

          <div class="col-md" style="padding:30px;">
            <h3>Settings</h3>
            <p>Eh. The title says settings - it means settings.</p>

            <form action="/account/update_info" method="post">
              <div class="card bg-secondary mb-3">
                <div class="card-header">Levels</div>
                <div class="card-body text-info">
                  <div class="form-group">
                    <label for="level-ps4">Level on Star Wars: Battlefront 2 (Playstation)</label>
                    <input type="number" class="form-control" id="level-ps4" value="<%= user_info.levels.psn %>" name="psn">
                  </div>
                  <div class="form-group">
                    <label for="level-xbox">Level on Star Wars: Battlefront 2 (Xbox)</label>
                    <input type="number" class="form-control" id="level-xbox" value="<%= user_info.levels.xbox %>" name="xbox">
                  </div>
                  <div class="form-group">
                    <label for="level-origin">Level on Star Wars: Battlefront 2 (Origin)</label>
                    <input type="number" class="form-control" id="level-origin" value="<%= user_info.levels.origin %>" name="origin">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="bio">Bio</label>
                <textarea type="text" class="form-control" id="bio" name="bio" rows="7"><%= user_info.bio %></textarea>
              </div>

              <button class="btn btn-primary" type="submit">Save changes</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
